body{
  background: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

button{
  width: 200px;
  height: 50px;
  border-radius: 10%;
  border: 1px solid gray;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

button:hover{
  cursor: pointer;
}

input{
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
}